@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Nunito:ital,wght@1,500&family=Playfair+Display+SC:ital@1&display=swap');


body {
  overflow-x: hidden;
  font-family: 'Alkatra', cursive;
  background-color: rgb(255, 255, 255);
}


h1 {
  font-size: 80px;
  line-height: 100px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 28px;
  line-height: 0%;
}

p {
  /* line-height: 0%; */
  white-space: wrap;
}



.h2_custome {
  font-size: 22px;
  color: #949495;
  line-height: 0%;

}

.h2_custome2 {
  font-size: 30px;
  line-height: 0%;
}


/* navigation_bar starts here */

.container {
  margin: auto;
  display: block;
  margin-right: 60px;
}


.a {
  color: rgb(0, 0, 5);
  text-decoration: none;
}


.navigation_bar {
  background: white;
  padding: 0px 0px;
  position: fixed;
  width: 100%;

}


.navigation_list {
  display: inline-flex;
  float: right;
  gap: 22px;
  list-style: none;
  padding-top: 20px;

}


.navigation_list li a {
  color: black;
  font-size: 16px;
}


.navigation_bar .navigation_list li {
  padding: 10px 0;
  display: inline-block;
}


.logo {
  padding: 0px 10px;
  display: inline-block;
  color: rgb(0, 0, 19);
  font-size: 70px;
}


/* navigation_bar ends heare  */




.wrapper {
  padding-top: 120px;
  border-radius: 25px;
}


.column_11 {
  width: 50%;
  float: left;
}


.column_12 {
  width: 50%;
  /* display: inline-block; */
  float: right;

}


img {
  float: right;
  width: 100%;
  margin-top: 25px;
  mix-blend-mode: darken;
}


.header {
  background-color: #fef9f3;
  padding: 50px;
  padding-top: 0;
  display: inline-block;
  margin: 36px;
  border-radius: 25px;
}


.head {
  padding: 25px;
}

.get_app_btn {
  background-color: #ff6525;
  border-radius: 12px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}



.box {
  text-align: center;
}





.column_21 {
  width: 100%;

}


/* 3rd section starts hear  */

.container-wrapper {
  /* white-space: nowrap; */
}

.container1,
.container2 {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.container1 {
  /* background-color: #afec21; */
  padding: 20px;
}

.container2 {
  /* background-color: #fa096d;SSSSSS */
  padding: 30px;
}




/* forthsection starts heare */

.container-wrapper {
  /* white-space: nowrap; */
}

.container4,
.container5 {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.container4 {
  /* background-color: #afec21; */
  padding: 20px;
}

.container5 {
  /* background-color: #fa096d;SSSSSS */
  padding: 30px;
}

.fa-user-circle {
  color: #7997fa;

  letter-spacing: -2px;
}



/* fift section starts header */





.container6 {
  background-color: #fefffe;
  padding: 29px;
  border-radius: 32px;
  margin: 26px;
  width: 245px;



}

.bb {
  background-color: #fef9f3;
  margin: 50px;
  border-radius: 25px;

}

.wrap {
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;


}

.get_start_text {
  font-size: 20px;
  border: solid #fe773d;
  border-radius: 10px;
  padding: 10px;



}

.fa-arrow-right {
  color: #fe773d;
  float: right;
  padding-top: 5px;

}