@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Nunito:ital,wght@1,500&family=Playfair+Display+SC:ital@1&display=swap');


body {
  overflow-x: hidden;
  font-family: 'Alkatra', cursive;
  background-color: rgb(255, 255, 255);
}


h1 {
  font-size: 80px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
}


.container {
  margin: auto;
  display: block;
  margin-right: 60px;
}


.a {
  color: rgb(0, 0, 5);
  text-decoration: none;
}


.navigation_bar {
  background: white;
  padding: 0px 0px;
  position: fixed;
  width: 100%;
  
}


.navigation_list {
  display: inline-flex;
  float: right;
  gap: 22px;
  list-style: none;
  padding-top: 20px;

}


.navigation_list li a {
  color: black;
  font-size: 16px;
}


.navigation_bar .navigation_list li {
  padding: 10px 0;
  display: inline-block;
}


.logo {
  padding: 0px 10px;
  display: inline-block;
  color: rgb(0, 0, 19);
  font-size: 70px;
}


.wrapper {
  padding-top: 120px;
  border-radius: 25px;
}


.column_11 {
  width: 50%;
  float: left;
}


.column_12 {
  width: 50%;
  display: inline-block;
  float: right;
  text-align: right;
}


img {
  float: right;
  width: 100%;
  margin-top: 25px;
  mix-blend-mode: darken;
}


.header {
  background-color: #fef9f3;
  padding: 50px;
  padding-top: 0;
  display: inline-block;
  margin: 36px;
  border-radius: 25px;
}


.head {
  padding: 25px;
}

.get_app_btn {
  background-color: #ff6525;
 border-radius: 12px;
 padding: 15px;
 padding-top: 10px;
 padding-bottom: 10px;
}